@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CQRS</h1>
    <p class="lead">Exercice de mise en place d'une architecture CQRS à l'aide de MediatR</p>
    <p><a class="btn btn-info" asp-controller="Accounts" asp-action="Register">Enregistrez-vous >></a></p>
</div>